<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>

                <div>
                    <section class="banner">
                        <img src="images/logo/banner.png" alt="Banner de ofertas" class="banner">
                    </section>
                </div>

                <section class="newitems">
                    <h3>New Items</h3>

                    <div class="products">

                        <%products.forEach(product=> { %>

                            <% if (product.newItem==true) { %>

                                <article>
                                    <img src="/images/portatiles/<%= product.image%>" alt="Imagen" class="product_img">
                                    <div class="main-article">
                                        <h4 class="description">
                                            <%= product.description%>
                                        </h4>
                                        <div class="price-discount">
                                            <p class="price">$ <%= product.price%>
                                            </p>
                                            <% if (product.discount>0) { %>
                                                <p class="discount">
                                                    <%= product.discount%>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>

                                </article>
                                <% } %>
                                    <% }) %>

                    </div>

                </section>


                <section>
                    <h3>Categorias Populares</h3>

                    <div class="categorias-container">

                        <ul class="categorias">
                            <li><a href="#"><i class="fa-solid fa-gamepad"></i> Gamer</a></li>
                            <li><a href="#"><i class="fa-solid fa-laptop"></i> Portatiles</a></li>
                            <li><a href="#"><i class="fa-solid fa-headset"></i> Accesorios</a></li>
                            <li><a href="#"><i class="fa-solid fa-hard-drive"></i> Almacenamiento</a></li>
                            <li><a href="#"><i class="fa-solid fa-fan"></i> Partes</a></li>
                        </ul>
                    </div>

                </section>


                <section class="bestsellers">
                    <h3>Bestsellers</h3>



                    <div class="products">

                        <%products.forEach(product=> { %>

                            <% if (product.bestSeller==true) { %>

                                <article>
                                    <img src="/images/portatiles/<%= product.image%>" alt="Imagen" class="product_img">
                                    <div class="main-article">
                                        <h4 class="description">
                                            <%= product.description%>
                                        </h4>
                                        <div class="price-discount">
                                            <p class="price">$ <%= product.price%>
                                            </p>
                                            <% if (product.discount>0) { %>
                                                <p class="discount">
                                                    <%= product.discount%>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>

                                </article>
                                <% } %>
                                    <% }) %>

                    </div>

                </section>

            </main>


            <%- include('./partials/footer') %>



    </body>

</html>