<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
        <main class="cart">

            <h1 class="titulo-cart">REGISTRO</h1>

            <section class="resumen-compra">
                <div class="caja-cupon">
                    
                    <form action="/users/create" method="POST" class="form-register" enctype="multipart/form-data" id="form">
                        <br><br><br><br>
                        <div>
                        <input type="text" name="name" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.name : null %>" id="name">
                        <br>
                        <small></small>
                        </div>
                        <br>
                        <div>
                        <input type="text" name="user" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.user : null %>" id="user">
                        <small></small>
                        </div>
                        <br>
                        <div>
                        <input type="email" name="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : null %>" id="email">
                        <small></small>
                        </div>
                        <br>
                        <div>
                        <input type="text" name="address" placeholder="Domicilio" value="<%= locals.oldData ? oldData.address : null %>" id="address">
                        <small></small>
                        </div>
                        <br>
                        <select name="country" id="country">
                            <% country.forEach(country=> { %>
                            <option  value="<%=country.id%>">
                                <%= country.name%>
                            </option>
                            <%})%>
                        </select>
                        <br>
                        <div>
                        <input type="tel" name="tel" placeholder="Telefono" value="<%= locals.oldData ? oldData.tel : null %>" id="tel">
                        <small></small>
                        </div>
                        <br>
                        <div>
                        <input type="password" name="pass" placeholder="Contraseña" value="<%= locals.oldData ? oldData.pass : null %>" id="pass">
                        <small></small>
                        </div>
                        <br>
                        <div>
                        <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" value="<%= locals.oldData ? oldData.pass_confirm : null %>" id="pass_confirm">
                        <small></small>
                        </div>
                        <br><br><br>
                        <label>Fecha de nacimiento</label> <input type="date" name="birth_date" id="birth_date" value="<%= locals.oldData ? oldData.birth_date : null %>" id="birth_date">
                        <br><br><br>
                        <h4>Elegí tu foto de usuario</h4>
                        <br>
                        <div>
                        <input type="file" name="image" id="image">
                        <small></small>
                        </div>
                        <br><br><br><br>
                        <button class="btn" type="submit">Enviar</button>
                        <button class="btn-secondary" type="reset">Borrar</button>
                        <br><br><br><br><br>
                    </form>
                </div>
            </section>

        </main>
    <%- include('../partials/footer') %>

    <script src="/js/registerValidate.js"></script>
</body>

</html>